

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.innerContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backButtonLarge {
    color: #60a5fa;
    display: none;
    font-size: 2.25rem;
    align-self: flex-start;
    margin-top: 1.75rem;
}

.backButtonSmall {
    color: #60a5fa;
    display: block;
    font-size: 2rem;
    align-self: flex-start;
    margin-top: 1.75rem;
}

.skillsTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.skillsTitle {
    text-shadow: 2px 2px #000;
    font-size: 1.5rem;
}

.skillsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1rem; */
    /* grid-template-columns: 1.5rem; */
    font-size: 18px;
    gap: 1rem 1.5rem;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141311;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0px 2px 4px #60a5fa;
    gap: 0.25rem;
    /* width: 300px; */
}

.iconHtml{
    color: #E54C21;
}
.icons {
 
    font-size: 30px;
    width: 100%;

}

.iconCss {
    color: #264DE4;
}

.iconJavascript {
    color: #F7E025;
}

.iconTypescript {
    color: #037ACC;
}

.iconNextjs {
    color: #ffffff;
}

.iconTailwind {
    color: #3EBFF8;
}

.skillLabel {
    color: #ffffff;
}


/* sm */
@media screen and (min-width: 640px) {
    .backButtonLarge{
        display: block;
    }
    .backButtonSmall{
        display: none;
    }
    .skillsGrid{
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.5rem;
    }
    .icons{
        font-size: 3rem;
    }
}

/* md */
@media screen and (min-width: 768px) {
    .skillsTitleContainer{
        margin: 20px 0;
    }
    .skillsTitle{
        font-size: 1.875rem;
    }
    .skillsGrid{
        font-size: 30px;
    }
    .icons{
        font-size: 4.5rem;
    }
    .skillLabel{
        color: black;
        z-index: -10;
    }
}

/* lg */
@media screen and (min-width: 1024px){
   .skillsGrid{
    font-size: 28px;
   }
}

/* xl */
@media screen and (min-width: 1280px){
    .skillsGrid{
        font-size: 3rem;
    }
    .icons{
        font-size: 6rem;
    }
}